
#foocontainer{
    /* display: grid; */
    width:100vw;
    /* height:46vh; */
    background-color: #0e0b19f5;
    /* text-align: left; */
    /* justify-content: center;
    position: relative;
    bottom: 0px; */
    /* align-items: center; */
}
.foocontainer1{
    
    transform:scaleX(1);
    font-size: 14px;
    padding-left: 15px;
    display: flex;
    flex-flow:row wrap;
    /* grid-column-g1ap:0px; */
    /* grid-template-columns:131px 120px 115px 119px 313px 245px; */
    /* grid-template-columns: 10vw 11vw 10vw 8vw 23vw 28vw; */
    justify-content: space-between;
}
.foocontainer1_headings{
    padding-bottom: 10px;
    color: dimgray;
    padding-top: 21px;
}
.foocontainer1_anchorTags_paading{
    padding:5px 0px;
}
.foocontainer1_anchorTags_paading a{
    color: darkgray;
    text-decoration: none;
    /* font-size:1.3vw; */
}
.fc1items{
    font-size: 14px;
    color:darkgray;
    padding-top:5px;
    background-color: rgba(255, 255, 255, 0);
    /* font-family: 'Noto Sans HK', sans-serif; */
}
.fc1items div pre {
    /* font-family: 'Noto Sans HK', sans-serif; */
    font-weight:normal;
}
.FooterforMediaQ{
    display: flex;
}
.hr-footer{
    width:100vw;
    height:0.1px;
    /* border-top: 0px;
    border-left: 0px;
    border-right: 0px; */
    /* border-top: 0.1px; */
    border-color: grey;
}
.under_footer{
    /* grid-column-gap:40px; */
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    /* grid-template-columns: 11vw 10vw 11vw 11vw 16vw 30vw; */
    color:darkgray;
    /* font-family: 'Noto Sans HK', sans-serif; */
    font-size:16px;
    font-weight:normal;

    width:100vw;
    height:75px;
    background-color: #0e0b19f5;
    
    /* position: relative;
    left: 0vw; */

}
.under_footer_container{
    display: flex;
    /* grid-template-columns: 14vw 10vw 11vw 10vw 18vw 33vw; */
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    flex-flow: row wrap;
}
.under_footer div a{
    text-decoration: none;
    color: darkgray;
    margin: 0px 10px 0px 10px;
}